<h1>Welcome to SoftUni Wiki!</h1>
<section>
    <h2>All articles</h2>
    <div class="spacer">
        <ul>
            {{#each article}}
            <li>
                <a href="article.hbs">Astronomy</a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>